

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarFriend {
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.rightbarFriendImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.rightbarOnlineBadge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: limegreen;
    border: 2px solid white;
    position: absolute;
    top: 0;
    left: -2px;
}

.rightbarFriendName {
    font-weight: 600;
}