.post {
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 41px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 41px -2px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 41px -2px rgba(0, 0, 0, 0.43);
}

.postWrapper {
    padding: 10px;
    width: 100%;
}

.postTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername{
    font-size: 15px;
    font-weight: 500px;
    margin: 0 10px;
}

.postDate{
    font-size: 12px;
}
.postCenter{
    margin: 20px 0;
}

.postImage{
    width: 100%;
    margin-top: 20px;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.postReaction{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postReactionCounter{
    font-size: 13px;
}
.postCommentText{
    font-size: 12px;
    border-bottom: 1px dashed gray;
}